@import "../../../assets/styles/variables";

.wrapperButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    width: 48%;
    > button {
      width: 100%;
    }
    &:last-child > button {
      background-color: #20366b;
      opacity: 0.8;
      transition: all 0.15s ease;
      &:hover {
        background-color: #29478c;
        opacity: 1;
      }
    }
  }
}
